
html{
    overflow: hidden;
}


.arc{
    border-radius: 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    position: absolute;
    z-index: -1;
}

.main-background-arc {
    width: 160%;
    height: 90%;
    border: 7px solid;
    left: -30%;
    bottom: -50%;
}

.secondary-background-arc{
    width: 100%;
    height: 100%;
    border: 1px solid;
    bottom: -10%;
}

.third-background-arc{
    width: 160%;
    height: 100%;
    border: 1px solid;
    left: -30%;
    bottom: -50%;
}

.arc-main-color{
    box-shadow: inset 0 0 20px 12px #244C87; /* internal glow */
    border-color: #284f8a;
}

.seccondary-arc-main-color{
    border-color: #bac5d47c;
}


.dot {
    position: absolute;
    width: 3px; /* dimensione del dot */
    height: 3px; /* dimensione del dot */
    background-color: #bac5d47c;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px #bac5d47c;
}

.dot-center{
    top: -0.3%;
    left: 48%;
}

.dot-left{
    top: 6%;
    left: 25.5%;
}

.dot-right{
    top: 6.3%;
    left: 74.6%;
}

.third-background-arc .dot-right{
    top: 2%;
    left: 64%;
}

@media screen and (min-width: 576px) {
    
    .main-background-arc {
        width: 100%;
        height: 90%;
        border: 7px solid;
        left: -5px;
        bottom: -50%;
    }
        
    .third-background-arc{
        width: 106%;
        height: 100%;
        border: 1px solid;
        left: -3%;
        bottom: -50%;
    }
    
    .arc-main-color{
        box-shadow: inset 0 0 20px 12px #244C87; /* internal glow */
        border-color: #284f8a;
    }
    
    .seccondary-arc-main-color{
        border-color: #bac5d47c;
    }
    
}